@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

label{
	margin-right: .3em;
	width: 5.5em;
	display: inline-block; /*width will not work for "inline" elements such as "label'.*/
	text-align: right;
  	white-space: nowrap;
  	padding-top: 8px;
}

#formcol1 li {
	list-style: none;
}

#formcol1 input.reqfield {
	background:#FF9;
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: #FFF !important;
	background-color: #903829 !important;
}

/* end of form css */
	
