@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}

label{
	margin-right: .3em;
	width: 5.5em;
	display: inline-block; /*width will not work for "inline" elements such as "label'.*/
	text-align: right;
  	padding-top: 8px;
}

#formcol1 li {
	list-style: none;
}

#formcol1 input.reqfield {
	background:#FF9;
}

fieldset {
  background-color: #EEE;
  border-width: 3px;
  border-color: #000;
}

legend {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.radiob {
  text-align: left;
}

.subButton {
  background: #7a0;
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: #FFF !important;
	background-color: #903829 !important;
}

/* end of form css */
	
